<!doctype html>
<html ng-app="myApp">
    <head>
       <script type="text/javascript" src="angular.min.js"></script>
    </head>
    <body>
        <div ng-controller="InvoiceCtrl">
            <b>Invoice:</b>
            <br>
            <br>
            <table>
                <tr><td>Quantity</td><td>Cost</td></tr>
                <tr>
                    <td><input type="integer" min="0" ng-model="qty" required ></td>
                    <td><input type="number" ng-model="cost" required ></td>
                </tr>
            </table>
            <hr>
            <b>Total:</b> {{qty * cost | currency}}
            <hr>
            {{}}
        </div>
    </body>
</html>
	<script>
	angular.module('myApp',[]).controller('InvoiceCtrl',function($scope) {
	      $scope.qty = 1;
	      $scope.cost = 19.95;
	  })

	</script>
